<div class="form-group" [formGroup]="group">
  <app-ordinal [ordinal]="count"></app-ordinal>

  <label>{{ config.label }}</label>
  <div>
  <span *ngFor="let option of config.options" >
    <input type="radio"  [value]="option" placeholder="config.placeholder" [formControlName]="config.name"  
    />
    {{ option }}
  </span>
</div>
  <div *ngIf="control.touched && control.errors" class="invalid-feedback" style="display: block !important">
    <div *ngIf="control.errors.required ">This field is required</div>
  </div>
</div>